@mixin bold_font {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

$light: #22388e;
$dark: #25358c;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: 'Dosis', sans-serif;
    
}


html {
 height: 100%;
}


img {
	float: left;
	height: 3rem;
	width: 5rem;
	margin-right: 0.5rem;
	margin-top: -0.25rem;
}

hr{
    border-color: $dark;
    height: 2px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	color: $light;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#notice {
   text-align: center;
   font-size: 0.7em;
   color: $dark;
   font-weight: 100;
}

.container {
   width: 200%;
   max-width: 1200px;
   color: $light;
   margin: 3em auto 0 auto;
   border-radius: 0px;
   box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
   padding: 1em 0;
   -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.petbutler.com/franchise-opportunity/wp-content/uploads/sites/2/2019/02/project-management-manage-staff-projects.jpg');
    background-size: cover;
    opacity: 0.1;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -999;
  }

// PROJECTS STYLING 


.todo_list_title {
   text-align: center;
   font-weight: 700;
   font-size: 2.5rem;
   text-transform: uppercase;
   color: $dark;
   margin: 0;
   a {
       text-decoration: none;
       color: $dark;
       transition: all .4s ease-in-out;
       &:hover {
           opacity: 0.4;
       }
   }
}

.todo_list_sub_title {
   margin: 0 0 3em 0;
   text-align: center;
   font-size: 1.2em;
   color: $dark;
   font-weight: 400;
}

.todo_list_created_at {
   margin: 0 0 0 0;
   text-align: right;
   font-size: 0.75em;
   color: $dark;
   font-weight: 100;
}



.index_row {
   padding: 2em;
   border-bottom: 1px solid rgba(250,250,250, .3);
   .todo_list_sub_title {
       margin-bottom: 0;
   }
}

// TASKS STYLING

#todo_items_wrapper {
    .row {
        width: 100%;
        border-top: 1px solid rgba(250,250,250, .3);
        border-bottom: 1px solid rgba(250,250,250, .3);
        .complete {
            width: 10%;
            float: left;
            text-align: center;
            border-right: 1px solid rgba(250,250,250, .3);
            padding: 1em 0;
        }
        .todo_item {
            width: 80%;
            float: left;
            p {
               margin: 0;
               padding: 1em;
               color: $dark;
               font-weight: 100;
           }
        .todo_item_date{
            text-align: right;
            font-size: .65rem
        } 
       }
       .trash {
           float: left;
           text-align: center;
           border-left: 1px solid rgba(250,250,250, .3);
           padding: 1em 0;
       }
       i {
           color: white;
           transition: all .4s ease-in-out;
           &:hover {
               color: $dark;
           }
       }
   }

   #form {
       margin-top: 2em;
       padding: 0 5%;
       input[type="text"] {
           width: 72%;
           margin-right: 2%;
           display: inline-block;
           outline: none;
           background: rgba(250,250,250,.4);
           border: none;
           height: 40px;
           border-radius: 4px;
           padding: 1em 2em;
       }
       input[type="submit"] {
           background: rgba(250,250,250,.4);
           outline: none;
           border: none;
           height: 40px;
           border-radius: 4px;
           width: 25%;
           display: inline-block;
           transition: all .4s ease-in-out;
           cursor: pointer;
           &:hover {
               background: #1a1a1a;
           }
       }
       ::-webkit-input-placeholder { color: #1a1a1a; }
   }
}

.links {
   display: block;
   margin: 1.5em auto 0 auto;
   text-align: center;
   font-size: 0.8em;
   color: white;
   text-decoration: none;

   a {
       color: black;
   }
}

.forms {
   padding: 0 5%;
}
label {
   color: $dark;
}
input[type="text"], textarea {
   width: 100%;
   margin: .5em 2% 1em 0;
   display: inline-block;
   outline: none;
   background: rgba(250,250,250,.4);
   border: none;
   height: 40px;
   border-radius: 4px;
   padding: 1em 2em;
}
textarea {
   height: 200px;
}
input[type="submit"] {
   background: white;
   outline: none;
   border: none;
   height: 40px;
   border-radius: 4px;
   width: 25%;
   display: inline-block;
   transition: all .4s ease-in-out;
   cursor: pointer;
   color: #1a1a1a;
   &:hover {
       background: #1a1a1a;
       color: white;
   }
}

button {
    padding: .2rem 1.5rem;
    background-color: #22388e;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1rem;   
    border: 1px solid #ccc;
}

button a {
    text-decoration: none;
    color: white; 
  }



.link_to  {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 2rem;
    font-size: 16px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .link_to:hover {
    background-color: black;
    color: white;
  }

.button_delete {
    background-color: $dark;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 1.5rem;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button_delete:hover {
    background-color: #5c71c1;
  }
  
// HEADER STYLING

header {
	background: #22388e;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 1.5px #22388e;

	.header_inner {
		width: 90%;
		margin: 0 auto;

		#logo {
			display: inline-block;
            text-decoration: none;
			width: 20rem;
			font-weight: bold;
			color: white;
			font-family: Helvetica, sans-serif;
			font-size: 2.0rem;
		}

		nav {
			float: right;

			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;

				&:hover {
					color: #C0C1C1;
				}
			}
		}
	}
}

// FOOTER STYLING (OPTIONAL)

footer {
	background: #22388e;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;

	p {
		margin: 0;
		font-size: .65rem;
	}
}

#banner {
	text-align: center;
	padding: 7.5rem 0;

	h1 {
		@include bold_font;
		color: rgba(61,26,24,1) 23%;
		font-size: 3.5rem;
		margin: 0;
	}

	p {
		font-size: 1.5rem;
		margin: 0 0 2.5rem 0;
		color: rgba(82, 158, 204, 0.6);
	}
}

#testimonial {
	text-align: center;
	font-size: 1.5rem;
	color: #afb0b0;
	padding: 3.5rem 0;

	.quote {
		margin: 0 0 .5rem 0;
	}

	.name {
		@include bold_font;
		color: white;
		margin: 0;
		font-size: .85rem;
	}
}


#callouts {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 10rem;
	display: table;

	.callout_inner {
		vertical-align: middle;
	}

	.callout {
		text-align: center;
		width: 100%;
		
		float: left;

		h2 {
			@include bold_font;
			color: $light;
			margin-bottom: 0;
		}

		p {
			color: $light;
		}
	}
}



#bottom_cta {
	text-align: center;
	padding: 0.5rem 0;

	h2 {
		@include bold_font;
		color: #25358c;
		font-size: 3rem;
		margin: 0;
	}

	h1 {
		@include bold_font;
		color: rgba(61,26,24,1) 23%;
		font-size: 3.5rem;
		margin: 0;
	}

	p {
		font-size: 1.5rem;
		margin: 0 0 2.5rem 0;
		color: rgba(61,26,24,1) 13%;
	}
}

#todo_items_wrapper #form input[type="text"] {
    border: 1px solid black;
}

#todo_items_wrapper #form input[type="submit"] {
    border: 1px solid black;
    border-radius: 1.5rem;
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid black;
	border-radius: .4rem;
}

input[type="email"],
input[type="password"] {
    height: 40px;
}

input[type="submit"] {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}




::-webkit-input-placeholder { color: $dark; }