<h1 style="font-size: 24px">Hello <%= @resource.email %>!</h1>

<h3>Someone has requested a link <strong>to change your password.</strong> You can do this through the link below.</h3>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'background-color: black; color: white; padding: 10px; text-decoration: none; border-radius: 15px;' %></p>


<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
